<%= form_with(model: deal, local: true) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :required => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :required => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, :required => true, type: "number", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :discounted_price %>
    <%= form.text_field :discounted_price, :required => true, type: "number", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, :required => true, type: "number", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :publish_date %>
    <%= form.date_field :publish_date, :required => true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
